.footer{
    width: 100%;
    background-color: #755959;
    margin-top: 60px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: grid;
    grid-template-columns: auto auto;
}
.footer-contactos{
grid-column: 1/2;
}
.footer-contacto__div{
    margin-top: 10px;
    margin-bottom: 10px;
    border-right: 2px solid #fff;
}
.footer-contacto__div--link{
    padding-left: 10px;
}
.footer-horarios{
grid-column: 2/3;
}
.footer-horarios__h2, .footer-contacto__h2{
    text-align: center;
}
.footer-horarios__div{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
