.footer{
    width: 100%;
    height: 300px;
    background-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: grid;
    grid-template-rows: 50px 1fr 1fr 1fr;

}
.footer-contacto__h2{
    grid-row: 1/2;
    font-size: 36px;
    font-weight: 700;
}
.footer-contacto__telefonos{
    grid-row: 2/3;
}
.footer-contacto__redes{
    grid-row: 3/4;
}
.footer-horarios{
   grid-row: 4/5 ;
}