.ubicacion{
    width: 100%;
    height: 570px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
   align-items: center;
}
.ubicacion-cont{
    width: 90%;
    height: 375px;
}
@media(min-width:900px){
    .ubicacion-cont{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 4fr;
       }
}
.ubicacion-h2{
    margin-top: 10px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}
@media(min-width:900px){
    .ubicacion-h2{
        grid-row: 1/2;
        grid-column: 1/ span 3;
        text-align: center;
        font-size: 36px;
        font-weight: 400;
    }
}

.ubicacion__iframe{
    margin-top: 50px;
    border: 4px solid #755959;
    height: 100%;
}
@media(min-width:640px){
    .ubicacion__iframe{
        margin-top: 10px;
        height: 70%;
    }
  
}
@media(min-width:900px){
    .ubicacion__iframe{
        grid-column: 1/2;
        grid-row: 2/3;
        border-radius: 5px;
        width: 90%;
        height:90%;
        border: 4px solid #fff;
        margin: 0 auto;
    }
  
}
.ubicacion__frase{
    display: none;
}
@media(min-width:900px){
    .ubicacion__frase{
        margin: 0 auto;
        display: inherit;
        grid-column: 2/3;
        grid-row: 2/3;
        border-radius: 5px;
        width: 90%;
        height:90%;
        margin: 0 auto;
    }
}
@media(min-width:900px){
    .ubicacion__frase-p{
        margin-top: 50px;
        text-align: center;
       font-size: 30px;
    }
}
