*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
.container{
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
}
.contenedor{
    width: 100%;
}

.menu{
    margin-top: 60px;
    width: 94%;
    background-color: #755959;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.menu-h2{
    font-size: 36px;
    font-weight: 400;
}
.menu-container{
    width: 94%;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid #fff;
}
.menu-container__bebidas, .menu-container__platos, .menu-container__postres {
    font-size: 18px;
}
a{
    text-decoration: none;
}
.menu-container__cards{
    margin-top: 10px;
    width: 94%;
    background-color: #755959;
    overflow: auto;
    height: 411px;
    padding-bottom: 10px;
}
@media(min-width:900px){
    .menu-container__cards{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 10px;
        width: 94%;
        background-color: #755959;
        overflow: auto;
        height: 411px;
        padding-bottom: 10px;
    }
}
.card{
    margin:15px auto;
    margin-bottom: 0;
    width: 95%;
    height: 76px;
    border-radius: 15px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    color: #000;
    align-items: center;
    justify-content: center;
}
@media(min-width:900px){
    .card{
        display: flex;
        margin-top: 15px;
        margin-bottom: 0;
        width: 20%;
        height: 330px;
        border-radius: 15px;
        background-color: #fff;
        color: #000;
    }
}
.card-h4{
grid-column: 2/3;
font-size: 24px;
font-weight: 700;
color: #000;
margin: 0 auto;
}
.card__img{
    grid-column: 1/2;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: 4px solid #755959;
}
.card-p{
grid-column: 3/4;
color: #000;
text-align: center;
}
.a{ 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;
    border-left: solid 4px #755959;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #fff;
}
@media(min-width:900px){
    .a{ 
       display: none;
    }
}
.triangulo{
    width: 30px;
    height: 30px;
}
.ubicacion{
    width: 94%;
    background-color: #755959;
    height: 500px;
    margin-top: 60px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.ubicacion-h2{
    text-align: center;
    font-size: 36px;
    font-weight: 400;
}
.footer-cont{
    width: 100%;
}

