*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
.container{
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
}
.contenedor{
    width: 100%;
}


.carousel{
    margin-top: 30px;
    width: 346px;
    height: 335px;
}
.carousel-img__1{
    width: 346px;
    height: 335px;
}
.menu{
    margin-top: 60px;
    width: 94%;
    background-color: #755959;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.menu-h2{
    font-size: 36px;
    font-weight: 400;
}
.menu-container{
    width: 94%;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid #fff;
}
.menu-container__bebidas, .menu-container__platos, .menu-container__postres {
    font-size: 18px;
}
a{
    text-decoration: none;
}
.menu-container__cards{
    margin-top: 10px;
    width: 94%;
    background-color: #755959;
    overflow: auto;
    height: 411px;
    padding-bottom: 10px;
}
.card{
    margin-top: 15px;
    margin-bottom: 0;
    width: 100%;
    height: 76px;
    border-radius: 15px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 3fr 1fr;
    color: #000;
    align-items: center;
    justify-content: center;
}

.card-h4{
grid-column: 1/2;
font-size: 24px;
font-weight: 700;
color: #000;
margin: 0 auto;
}
.card-p{
grid-column: 2/3;
color: #000;
text-align: center;
}
.ubicacion{
    width: 94%;
    background-color: #755959;
    height: 500px;
    margin-top: 60px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.ubicacion-h2{
    text-align: center;
    font-size: 36px;
    font-weight: 400;
}
.footer-cont{
    width: 100%;
}

.carousel__contenedor{
    position: relative;
}
.carousel__anterior,
.carousel__siguiente{
    position: absolute;
    display: block;
    font-size: 30px;
    width: 50px;
    height: 50px;
    border: none;
    top: calc(50% - 35px);
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    background: none;
    opacity: 50%;
}
.carousel__anterior{
    z-index: 100;
    left: 1px;
}
.carousel__siguiente{
    right: 1px;
}