*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #755959;
}
a{
    text-decoration: none
}
.container{
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
}
.contenedor{
    width: 100%;
}

.menu{
   width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 560px;
}
@media(min-width:666px){
    .menu{
        margin-top: 250px;
    }
}
@media(min-width:900px){
    .menu{
        margin-top: 50px;
    }
}
.menu__sub-menus{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-top: 2px solid #755959;
    border-bottom: 2px solid #755959;
    height: 40px;
    align-items: center;
}
.menu__aperitivos{
    position: absolute;
    background-color: #fff;
    margin-top: 35px;
    z-index: 400;
    width: 100%;
    height: 400px;
    display: flex;
    margin-bottom: 15px;
    flex-direction: row;
    overflow-y:auto ; 
}
.menu__aperitivos-sub,
.menu__bebidas-sub,
.menu__principales-sub,
.menu__postres-sub{
    flex: 0 0 auto;
    width: 375px;
    font-size: 16px;
}
.menu__img{
   margin-top: 15px;
   margin-bottom: 15px;
   border: 2px solid #755959;
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border-radius: 5px;

}
.menu__numero{
    display: inline;
    font-size: 26px;
    font-weight: 700;
     margin-left: 40px;
}
.menu__aperitivos-sub-titulo,
.menu__bebidas-sub-titulo,
.menu__principales-sub-titulo,
.menu__postres-sub-titulo{
    display: inline;
    font-size: 24px;
    font-weight: 500;
}
.menu__descripcion{
    width: 80%;
    height: 50px;
   margin-left: 40px;
}
.menu__link{
    height: 55px;
    width: 250px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 15px;
    border: 4px solid #755959;
    margin-bottom: 5px;
    padding-top: 8px;
    text-align: center;
}
.menu-h2{
    font-size: 36px;
    font-weight: 700;
}

.menu__bebidas{
    position: absolute;
    background-color: #fff;
    margin-top: 35px;
    width: 100%;
     overflow-y:auto ; 
    height: 400px;
    display: flex;
    margin-bottom: 15px;
    flex-direction: row;
    z-index: 300;
}
.menu__principales{
    margin-top: 35px;
    position: absolute;
    background-color:#fff;
    width: 100%;
    height: 400px;
    display: flex;
    margin-bottom: 15px;
    flex-direction: row;
    overflow-y:auto ; 
    z-index: 200;
}
.menu__postres{
    position: relative;
    background-color:#fff;
    width: 100%;
    height: 450px;
    display: flex;
    margin-bottom: 15px;
    flex-direction: row;
    overflow-y:auto ; 
    z-index: 100;
}
.img-cont{
    width: 100%;
    height: 470px;
   background-image: url(./imagenes/cafe-divisor-1.jpg);
   display: flex;
   align-items: center;
   justify-content: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
}
.img-cont__p{
height: 75px;
width: 350px;
border-radius: 5px;
background-color: rgba(255,255,255, .7);
font-size: 24px;
font-weight: 700;
text-align: center;
}
.img-cont-2{
    width: 100%;
    height: 470px;
   background-image: url(./imagenes/cafe-divisor-2.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   display: flex;
   align-items: center;
   justify-content: center;
}
.img-cont-2__p{
    height: 75px;
    width: 350px;
    border-radius: 5px;
    background-color: rgba(255,255,255, .7);
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}
.footer-cont{
    width: 100%;
}
