*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
.container{
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
}
.header{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
    height: 85px;
    background-color: #755959;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.header-logo{
    grid-column: 1/2;
    
}
.header-container{
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-content: center;
}
.header-container__h1{
    grid-row: 1/2;
    height: 48px;
    font-size: 48px;
    font-weight: 800;
    margin: 0;
}
.header-container__p{
grid-row: 2/3;
text-align: center;
font-size: 14px;
font-weight: 700;
margin-top: 5px;
}
.header-icono{
    margin: 0 auto;
    height: 40px;
    width: 40px;
    grid-column: 3/4;
}
.header-nav{
    position: absolute;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 150px;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, .3);
    width: 100px;
    justify-content: center;
    align-items: center;
    margin-left: 72%;
    border-radius: 10px;
    display: none;
}

@media(min-width:666px){
    .header-nav:target{
        margin-left: 80%;
    }
}
.header-nav__link{
    border-bottom:2px solid #fff;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}


.carousel{
    margin-top: 30px;
    width: 346px;
    height: 335px;
}
.carousel-img__1{
    width: 346px;
    height: 335px;
}
.menu{
    margin-top: 60px;
    width: 94%;
    background-color: #755959;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.menu-h2{
    font-size: 36px;
    font-weight: 400;
}
.menu-container{
    width: 94%;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid #fff;
}
.menu-container__bebidas, .menu-container__platos, .menu-container__postres {
    font-size: 18px;
}
a{
    text-decoration: none;
}
.menu-container__cards{
    margin-top: 10px;
    width: 94%;
    background-color: #755959;
    overflow: auto;
    height: 411px;
    padding-bottom: 10px;
}
.card{
    margin-top: 15px;
    margin-bottom: 0;
    width: 100%;
    height: 76px;
    border-radius: 15px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 3fr 1fr;
    color: #000;
    align-items: center;
    justify-content: center;
}

.card-h4{
grid-column: 1/2;
font-size: 24px;
font-weight: 700;
color: #000;
margin: 0 auto;
}
.card-p{
grid-column: 2/3;
color: #000;
text-align: center;
}
.ubicacion{
    width: 94%;
    background-color: #755959;
    height: 500px;
    margin-top: 60px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.ubicacion-h2{
    text-align: center;
    font-size: 36px;
    font-weight: 400;
}
.footer{
    width: 100%;
    background-color: #755959;
    margin-top: 60px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: grid;
    grid-template-columns: auto auto;
}
.footer-contactos{
grid-column: 1/2;
}
.footer-contacto__div{
    margin-top: 10px;
    margin-bottom: 10px;
    border-right: 2px solid #fff;
}
.footer-horarios{
grid-column: 2/3;
}
.footer-horarios__h2, .footer-contacto__h2{
    text-align: center;
}
.footer-horarios__div{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.a{ 
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-left: solid 4px #000;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #fff;
}
.triangulo{
    width: 30px;
    height: 30px;
}