.header{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
    height: 85px;
    background-color: #fff;
    align-items: center;
}
.header-logo{
    grid-column: 1/2;
}
.header-container{
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-content: center;
}
.header-container__h1{
    grid-row: 1/2;
    height: 48px;
    font-size: 48px;
    font-weight: 800;
    margin: 0;
}
.header-container__p{
grid-row: 2/3;
text-align: center;
font-size: 14px;
font-weight: 700;
margin-top: 5px;
}
.header-icono{
    margin: 0 auto;
    height: 40px;
    width: 40px;
    grid-column: 3/4;
}
@media(min-width:900px){
    .header-icono{
        display: none;
    }
    }
.header-nav__primario{
    width: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
@media(max-width:900px){
    .header-nav__primario{
        display: none;
    }
    }
.header-nav__primario-link{
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
}
.header-nav__primario-link:hover{
    background-color: rgba(255, 255, 255, .5);
    color: #755959;
}
.header-nav{
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-rows:1fr 1fr 1fr 1fr;
    gap: 15px;
    margin-top: 30px;
    background-color: #fff;
     justify-content: space-evenly;
     border-bottom-right-radius: 5px;
     border-bottom-left-radius: 5px;
    align-items: center;
    display: none;
    z-index: 1000;
    border-bottom: 4px solid #755959;
}

@media(min-width:640px){
    .header-nav{
        right: 30px;
        height: 200px;
        width: 100%;
        height: 85vh;
    }
}
.header-nav__link{
    border-bottom:2px solid #755959;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    font-size: 35px;
    font-weight: 500;
}

@media(min-width:666px){
    .header-nav__link{
        font-size: 20px;
    }
    .header-nav__link:first-of-type{
        margin-top: 0;
    }
    .header-nav__link:last-of-type{
        margin-bottom: 10px;
    }
}
.header-nav__close{
    width: 20px;
        height: 20px;
        margin-left: 65px;
}
@media(min-width:666px){
    .header-nav__close{
        width: 30px;
        height: 30px;
        margin-left: 68px;
    }
    
}
