.carousel{
    width: 375px;
    height: 470px;
}
@media(min-width:666px){
    .carousel{
        margin-top: 30px;
        width: 80%;
        height: 335px;
    }
    
}
@media(min-width:900px){
    .carousel{
        margin-top: 30px;
        width: 100%;
        height: 535px;
    }
}

.carousel-img__1{
    width: 375px;
    height: 470px;
}
@media(min-width:666px){
    .carousel-img__1{
        width: 100%;
        height: 100%;
    }
}
@media(min-width:900px){
    .carousel-img__1{
        width: 90%;
        margin-top: 10px;
        margin-left: 5%;
        height: 500px ;
    }
}
.carousel__contenedor{
    position: relative;
}
@media(min-width:900px){
    .carousel__contenedor{
        position: relative;
        height: 100%;
        background-color: rgba(255, 255, 255, .4);
        border-radius: 15px;
    }
    .carousel__indicadores{
        position: relative;
        bottom: 40px;
    }
}

.carousel__anterior,
.carousel__siguiente{
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 30px;
    color: #fff;
    opacity: 80%;
    border: none;
    top: calc(50% - 35px);
    background: none;
    text-align: center;
    font-size: 30px;
}
@media(min-width:900px){
    .carousel__anterior,
    .carousel__siguiente{
        font-size: 50px;
    }
}
.carousel__anterior{
   
    z-index: 10;
    left: 5%;
}
.carousel__siguiente{
    right: 5%;
}
